fastapi
uvicorn[standard]
sqlalchemy
alembic
bcrypt==4.0.1
passlib==1.7.4
python-jose[cryptography]
python-dotenv
stripe
pydantic
pydantic-settings
python-multipart
slowapi
hypothesis
pytest
gunicorn
email-validator
