fastapi
uvicorn[standard]
sqlalchemy
alembic
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv
stripe
pydantic
pydantic-settings
python-multipart
slowapi
hypothesis
pytest
gunicorn
email-validator
